@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat';
  background: var(--color-background, #f6f6f9);
  color: var(--color-oscuro, #363949);
  overflow-x: hidden; 
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}